@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f8f8;
  color: #262f3c;
  max-width: 100%;
  overflow-x: hidden;
}

h3 {
  font-size: 39px;
}

h4 {
  font-size: 22px;
}

section {
  position: relative;
}

.font-weight-extra-black {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}

.font-weight-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 100;
}

.font-default {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  max-width: 1400px;
}

.button {
  color: #49c7e0;
  padding: 11px 25px;
  /*  background-color: yellow;*/
  border: 2px solid;
  border-radius: 35px;
  border-color: #49c7e0;
}

.button-white {
  color: #fff;
  padding: 11px 25px;
  /*  background-color: yellow;*/
  border: 2px solid;
  border-radius: 35px;
  border-color: #fff;
}

.nav-wrap {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.nav-wrap .navBar .navBar-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-wrap .navBar .navBar-brand {
  width: 110px;
  display: flex;
  align-items: center;
}
.nav-wrap .navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 30px 20px 85px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.nav-wrap .navBar li {
  display: inline;
  padding-right: 60px;
}
.nav-wrap .navBar a {
  color: #262f3c;
  /*	text-decoration-line: none;*/
}
.nav-wrap .navBar .active {
  color: #16b6d2;
}

.banner .button-white {
  font-size: 1.5rem;
}
.banner .box-bg {
  position: absolute;
  left: -10%;
  top: -22%;
  width: 60%;
  height: 800px;
  z-index: -2;
  transform: rotate(-12.5deg);
  border-radius: 100px;
}

.m-b {
  margin-bottom: 5rem;
}

.box-tittle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box-tittle-inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}
.box-tittle-inner h2 {
  font-size: 53px;
  line-height: 1.16981;
  color: #fff;
}
.box-tittle-inner h4 {
  font-size: 22px;
  line-height: 1.36364;
  color: #fff;
}

.deviceGroup {
  display: flex;
  width: 100%;
  align-items: flex-end;
  padding: 40px 0;
}

.mac-fr1 {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 100%;
}

.mackbook-fr1-inner {
  position: absolute;
  top: 41px;
  left: 149px;
  z-index: 0;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.iphone-fr1 {
  position: relative;
  z-index: 1;
  max-width: 20.5%;
  margin-bottom: -1.8%;
  margin-left: -70%;
}

.iphone-fr1-inner {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 0;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.imgiPhone-fr1 {
  z-index: 1;
}

.wrap-features {
  display: flex;
}

.ps-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(75, 81, 91, 0.2);
  padding-bottom: 1.5rem;
  min-height: 100%;
}

.iconSize {
  font-size: 50px;
  color: #ffffff;
}

.icon-circle {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.bg-color-grey {
  background-color: #869098;
}

.bg-color-yellow {
  background-color: #f3dc8a;
}

.bg-color-skyBlue {
  background-color: #92cee2;
}

.bg-color-pink {
  background-color: #fe8d95;
}

.bg-color-principal {
  background-color: #16b6d2;
}

.bg-color-secundary {
  background-color: #eff0f1;
}

.color-white {
  color: #ffffff;
}

.color-grey {
  color: #262f3c;
}

.iphoneGroup {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.imgiPhone-fr2 {
  z-index: 999;
}

.reel-mobile {
  margin-top: 12px;
  margin-left: 16px;
  z-index: -1;
  position: absolute;
}

.box-tittle-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box-tittle-right h3 {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
}
.box-tittle-right p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
}
.box-tittle-right ul {
  padding-left: 4rem;
  list-style: none;
  line-height: 3rem;
  padding-bottom: 4rem;
}

.box-tittle-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box-tittle-left h3 {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 4rem;
}
.box-tittle-left p {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.bg-left, .bg-right {
  top: 0;
  bottom: 0px;
}

.rw {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-1 {
  max-width: 8.3333333333%;
  flex: 8.3333333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-2 {
  max-width: 16.6666666667%;
  flex: 16.6666666667%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-3 {
  max-width: 25%;
  flex: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-4 {
  max-width: 33.3333333333%;
  flex: 33.3333333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-5 {
  max-width: 41.6666666667%;
  flex: 41.6666666667%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-6 {
  max-width: 50%;
  flex: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-7 {
  max-width: 58.3333333333%;
  flex: 58.3333333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-8 {
  max-width: 66.6666666667%;
  flex: 66.6666666667%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-9 {
  max-width: 75%;
  flex: 75%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-10 {
  max-width: 83.3333333333%;
  flex: 83.3333333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-11 {
  max-width: 91.6666666667%;
  flex: 91.6666666667%;
  padding-right: 15px;
  padding-left: 15px;
}

.column-12 {
  max-width: 100%;
  flex: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/*# sourceMappingURL=styles.css.map */
