$colorPrimario: rgb(244, 164, 164);
$colorSecundario: rgb(164, 243, 244);
$colorNegro: black;
$colorBlanco: white;

$family: 'Poppins', sans-serif;

$weight:('thin': 100, 'light': 300, 'regular': 400, 'bold': 600, 'extraBold': 800);
$sizes:('xsm': 10px, 'sm': 16px, 'md': 20px, 'lg': 30px, 'xlg': 45px)
